@import '../../packages/web-components/@sfx/theme/src/general.scss';
@import '@sfx/search-box/css/sfx-elegant-search-box.scss';

:root {
  --color-background: whitesmoke;
  --color-border: #707070;
  --color-primary: #8cce0e;
  --color-secondary: #46badd;
  --color-tertiary: #d6ef02;
  --default-spacing: 4px;
}
