@import 'sfx-theme-setup.scss';
@import '../../packages/web-components/@sfx/theme/src/general.scss';
@import '@sfx/autocomplete/css/sfx-elegant-autocomplete.scss';
@import '@sfx/product/css/sfx-elegant-product.scss';
@import '@sfx/products/css/sfx-elegant-products.scss';
@import '@sfx/sayt/css/sfx-elegant-sayt.scss';
@import '@sfx/search-box/css/sfx-elegant-search-box.scss';

:root {
  --color-background: whitesmoke;
  --color-border: #707070;
  --color-font: #707070;
  --color-primary: #8cce0e;
  --color-secondary: #46badd;
  --color-tertiary: #d6ef02;
  --default-spacing: 4px;

  --spacing-product: 12px;
}
