sfx-autocomplete {
  color: var(--sfx-color-font);
  font-family: var(--sfx-font-default);

  h4 {
    background-color: var(--sfx-color-background);
    border-bottom: 1px solid var(--sfx-color-border);
    border-top: 1px solid var(--sfx-color-border);
    margin: 0;
    padding: 0.5em 0.25em 0.25em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0.25em 0.5em;

    &[aria-selected="true"] {
      background-color: var(--sfx-color-primary);
    }
  }
}
