sfx-sayt {
  .sfx-sayt-container {
    border: 1px solid var(--sfx-color-border);
    border-radius: var(--sfx-border-radius);
    font-family: var(--sfx-font-default);
    position: absolute;
  }

  > button {
    background: none;
    border: none;
    border-radius: var(--sfx-border-radius);
    font-size: 20px;
    line-height: 1;
    padding: var(--sfx-spacing-default);
    position: absolute;
    right: 0;
    top: -5px;

    &:focus,
    &:hover {
      color: var(--sfx-color-primary);
      transition: all 0.10s ease;
    }
  }

  sfx-autocomplete {
    border-right: 1px solid var(--sfx-color-border);
    flex: 33%;
    margin-right: -1px;
    margin-top: -1px;
  }

  sfx-products {
    flex: 66%;
  }

  &[hidden] {
    display: none;
  }
}
