@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

:root {
  --sfx-color-background: whitesmoke;
  --sfx-color-border: #707070;
  --sfx-color-font: black;
  --sfx-color-primary: #8cce0e;
  --sfx-color-secondary: #46badd;
  --sfx-color-tertiary: #d6ef02;

  --sfx-font-default: 'Exo', sans-serif;

  --sfx-spacing-default: 4px;
  --sfx-spacing-product: 12px;
}
