@import url('https://fonts.googleapis.com/css?family=Noticia+Text&display=swap');

:root {
  --border-radius: 10px;

  --sfx-color-background: whitesmoke;
  --sfx-color-border: #020122;
  --sfx-color-font: #654F6F;
  --sfx-color-primary: #FF521B;
  --sfx-color-secondary: #F2F3AE;
  --sfx-color-tertiary: #FC9E4F;

  --sfx-font-default: 'Noticia Text', sans-serif;

  --sfx-spacing-default: 4px;
  --sfx-spacing-product: 12px;
}
