@import url('https://fonts.googleapis.com/css?family=Noticia+Text&display=swap');

:root {
  --border-radius: 10px;

  --color-background: whitesmoke;
  --color-border: #020122;
  --color-font: #654F6F;
  --color-primary: #FF521B;
  --color-secondary: #F2F3AE;
  --color-tertiary: #FC9E4F;

  --font-default: 'Noticia Text', sans-serif;

  --spacing-default: 4px;
  --spacing-product: 12px;
}
