gbe-search-box {
  --search-box-button-width: 75px;
  background: white;
  display: grid;
  font-family: var(--gbe-font-default);
  grid-template-columns: auto repeat(2, var(--search-box-button-width));
  grid-column-gap: var(--gbe-spacing-default);

  button,
  input {
    border: 1px solid var(--gbe-color-border);
    border-radius: var(--gbe-border-radius);
    padding: calc(var(--gbe-spacing-default) * 2);
  }

  button {
    background-color: var(--gbe-color-primary);
    width: var(--search-box-button-width);

    &:focus,
    &:hover {
      box-shadow: 0 0 5px var(--gbe-color-primary);
      background-color: var(--gbe-color-tertiary);
      transition: all 0.10s ease;
    }
  }
}
