sfx-sayt {
  border: 1px solid var(--color-border);
  display: flex;
  position: absolute;

  > button {
    border: none;
    padding: 7px;
    position: absolute;
    right: 0;
    top: 0;
  }

  sfx-autocomplete {
    border-right: 1px solid var(--color-border);
    flex: 33%;
    margin-right: -1px;
    margin-top: -1px;
  }

  sfx-products {
    flex: 66%;
  }
}
