@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

:root {
  --color-background: whitesmoke;
  --color-border: #707070;
  --color-font: black;
  --color-primary: #8cce0e;
  --color-secondary: #46badd;
  --color-tertiary: #d6ef02;

  --font-default: 'Exo', sans-serif;

  --spacing-default: 4px;
  --spacing-product: 12px;
}
