article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* CUSTOM STYLES START HERE! */
/* CSS VARIABLES START HERE! */
/* Current Color Set
  #E6AF2A - Mustard Yellow
  #25283D - Dark Blue
  #FFFFFF - White
  #353531 - Dark Gray
  #BA3B46 - Deep Chestnut
*/
:root {
  /* Fonts */
  --font-family-header: 'Montserrat', sans-serif;
  --font-family-text: 'Lato', sans-serif;

  /* Background Color Variables */
  --background-color-primary: #BA3B46;
  --background-color-secondary: #25283D;
  --background-color-tertiary: #e6af2a;

  /* Font Color Variables */
  --font-color-primary: #ffffff;
  --font-color-secondary: #e6af2a;
  --font-color-tertiary: #353531;

  /* Accent Color Variables */
  --accent-color-primary: #353531;
  --accent-color-secondary: #BA3B46;

  /* Header Height Variable */
  --header-height: 60px;

  /* Speed Variable */
  --transition-speed: 0.1s;
}
/* CSS VARIABLES END HERE! */
/* BASE STYLES START HERE! */
html {
  font-size: 62.5%;
  font-family: var(--font-family-text);
}

h1, h2, h3, h4, p, ul, li, button {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-header);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
}

.hero .wrapper {
  max-width: 1224px;
}
/* BASE STYLES END HERE! */

/* HEADER STYLES START HERE! */
header {
  color: var(--font-color-secondary);
}

header .wrapper {
  height: var(--header-height);
  padding: 0;
}
.logo {
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 2.7rem;
  float: left;
  color: var(--accent-color-secondary);
}

.logo i {
  font-size: 2.7rem;
  margin: 0 auto;
  display: block;
  height: 100%;
  line-height: 60px;
}

nav {
  float: left;
  /* width: 300px; */
}

.header-nav ul {
  display: flex;
  justify-content: space-around;
}

.header-nav li {
  margin: 0 20px;
  color: var(--font-color-tertiary);
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 2px;
  border-bottom: 1px solid transparent;
  transition: all var(--transition-speed);
  height: 60px;
  line-height: 60px;
}

.header-nav li:hover {
  color: var(--accent-color-secondary);
}

header .sfx-header-search-controls {
  float: right;
  display: flex;
  position: relative;
  font-size: 1.8rem;
}

header .sfx-input {
  display: block;
  float: right;
  padding: 0 12px;
  border: none;
  border-left: 1px solid #ccc;
  outline: none;
}


header .clear, header .submit {
  display: block;
  background-color: var(--background-color-primary);
  color: var(--font-color-primary);
  width: 60px;
  text-align: center;
  border: none;
  border-left: 1px solid rgba(255,255,255, 0.1);
  transition: all var(--transition-speed);
  height: 60px;
  width: 60px;
}

header .submit {
  font-size: 1.6rem;
}

header .clear:hover, header .submit:hover {
  background-color: var(--background-color-tertiary);
}

#header-searchbox input {
  height: 60px;
  width: calc(50vw - 119px);
}

sfx-sayt {
  background: transparent;
  padding: 0;
  margin-left: 1px;
  z-index: 0;
  border-top: 1px solid #ccc;
  position: absolute;
  width: calc(50vw - 118px);
  height: 425px;
  top: 60px;
  right: 119px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-left: 1px solid rgba(0,0,0,0.3);
  border-right: 1px solid rgba(0,0,0,0.3);
  overflow: hidden;
  color: var(--accent-color-secondary);
}

sfx-list li {
  text-transform: capitalize;
  padding: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
sfx-list li:focus, sfx-list li:hover {
  color: #fff;
  background: var(--font-color-secondary);
  outline: none;
  cursor: pointer;
}

.sfx-sayt-container {
  height: 100%;
  justify-content: space-around;
}

.sfx-sayt-container sfx-autocomplete {
  background: #fff;
  width: 175px;
  flex-shrink: 0;
}

.sfx-sayt-container sfx-products {
  background: rgba(255,255,255, 0.8);
  padding: 20px;
  flex-grow: 1;
}

.sfx-sayt-container sfx-product {
  position: relative;
  height: 100%;
}

.sfx-sayt-container .sfx-product-tile-wrapper {
  width: calc(100% / 3);
  font-size: 16px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
}

.sfx-sayt-container .sfx-product-tile-wrapper:nth-child(2) {
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

.sfx-sayt-container .sfx-product-tile-wrapper:nth-child(3) {
  border-left: none;
  border-right: none;
}

.sfx-sayt-container .sfx-product-tile-wrapper:nth-child(4) {
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

.sfx-sayt-container img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 175px;
}

.sfx-sayt-container a {
  display: block;
  font-size: 1.2rem;
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.1);
  max-height: 57px;
  overflow: hidden;
}

.sfx-sayt-container slot[name="title"]:after{
  content: '$10.00';
  display: block;
  margin-top: 5px;
  padding-left: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--font-color-tertiary);
}

.sfx-sayt-container slot[name="price"] {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sfx-sayt-container slot[name="price"]:after {
  content: 'Add to Cart';
  display: inline-block;
  background-color: var(--background-color-primary);
  color: var(--font-color-primary);
  padding: 10px;
}

.sfx-sayt-container slot[name="price"]:after:hover {
  background-color: var(--background-color-secondary);
  cursor: pointer;
}

.sfx-sayt-container .sfx-product-tile-wrapper:nth-child(n + 5) {
  display: none;
}

/* HEADER STYLES END HERE! */

/* HERO SECTION STYLES START HERE! */
.hero {
  background-image: url('./assets/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc( 100vh - var(--header-height) );
}

.hero h1 {
  margin: 50px 0;
  color: var(--font-color-primary);
  font-size: 15rem;
  text-align: right;
  text-transform: uppercase;
}

.hero span {
  display: block;
  font-weight: 100;
  font-size: 127.5px;
}

.hero span:before {
  content: '';
  display: block;
  height: 1px;
  width: 527px;
  margin: 0 auto;
  background-color: rgba(255,255,255, 0.5);
}

.hero a {
  display: block;
  width: 200px;
  height: 80px;
  line-height: 80px;
  border: solid 1px var(--font-color-primary);
  color: var(--font-color-primary);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: all var(--transition-speed);
}

.hero a:hover {
  background-color: var(--font-color-primary);
  color: var(--font-color-secondary);
}

.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* HERO SECTION STYLES END HERE! */

/* MAIN SECTION STYLES START HERE! */
main h2 {
  font-size: 3.5rem;
  text-align: center;
}
/* MAIN SECTION STYLES END HERE! */

/* NEW ARRIVALS SECTION STYLES START HERE! */
.new-arrivals {
  padding: 125px 0;
  width: 1224px;
  margin: 0 auto;
}

.new-arrivals h2 {
  color: var(--font-color-tertiary);
  margin-bottom: 50px;
}

.new-arrivals-sections {
  display: flex;
  justify-content: space-between;
}

.new-arrivals-section {
  width: calc(33.3333% - 20px);
  height: 500px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
}

.new-arrivals-sections img {
  height: 100%;
}
/* NEW ARRIVALS SECTION STYLES END HERE! */

/* CATALOGUE SECTION STYLES START HERE! */
.catalogue {
  padding: 125px 0;
  height: 100vh;
  background-color: var(--background-color-primary);
  color: var(--font-color-primary);
  font-size: 1.8rem;
}

.catalogue .wrapper {
  width: 1224px;
}

.catalogue .sfx-catalogue-search-controls {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

#catalogue-searchbox {
  width: 50%;
}

#catalogue-searchbox input {
  padding: 5px;
}

.sfx-catalogue-search-controls button {
  width: 40px;
  background-color: var(--background-color-secondary);
  color: var(--font-color-primary);
  transition: all var(--transition-speed);
}

.sfx-catalogue-search-controls button:hover {
  background-color: var(--background-color-tertiary);
  color: var(--font-color-tertiary);
}

.catalogue sfx-sayt {
  top: 36px;
  left: 264px;
  width: 614px;
  height: auto;
  color: var(--font-color-tertiary);
}

.catalogue sfx-autocomplete {
  width: 100%;
}

.catalogue sfx-list li:focus, .catalogue sfx-list li:hover {
  background: var(--background-color-secondary);
}

.catalogue sfx-list ul {
  width: 100%;
}

.catalogue-product-grid {
  margin-top: 150px;
  width: 1224px;
  color: var(--font-color-tertiary);
}

.catalogue-product-grid sfx-products {
  justify-content: space-around;
  flex-wrap: nowrap;
}

.catalogue-product-grid .sfx-product-tile-wrapper {
  width: calc(25% - 10px);
  height: 500px;
  margin: 0 10px;
  background-color: #fff;
}

.catalogue-product-grid .sfx-product-tile-wrapper:nth-child(n + 6) {
  display: none;
  height: 100%;
}

.catalogue-product-grid sfx-product {
  position: relative;
  height: 100%;
}

.catalogue-product-grid img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 250px;
}

.catalogue-product-grid slot[name="price"] {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.catalogue-product-grid slot[name="price"]:after {
  content: 'Add to Cart';
  display: inline-block;
  background-color: var(--background-color-secondary);
  color: var(--font-color-primary);
  padding: 10px;
}
/* CATALOGUE SECTION STYLES END HERE! */
/* CUSTOM STYLES END HERE! */
