article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \\201C \\201D \\2018 \\2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Edit the variable below to adjust the number of tiles seen on larger desktop screens (range of 2-6 recommended) */
:root {
  /* Adjust the variables below to quickly align the gbe components with your brand styles */
  /***** GBE-SEARCH-BOX *****/
  --gbe-fill-parent-container-width: 100%;
  --gbe-search-box-width: var(--gbe-fill-parent-container-width, 600px);
  --gbe-search-box-max-width: 1200px;
  --gbe-sayt-height-and-button-height: 60px;
  --gbe-search-box-input-and-sayt-width: calc(var(--gbe-search-box-width) - calc(var(--gbe-sayt-height-and-button-height) * 2) - -1px);
  --gbe-search-box-input-and-sayt-max-width: calc(var(--gbe-search-box-max-width) - calc(var(--gbe-sayt-height-and-button-height) * 2) - -1px);
  --gbe-search-box-input-focus-box-shadow: 0px 0px 3px 0px var(--background-color-buttons-unhovered);
  --gbe-search-box-clear-button-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='23px' height='30px' viewBox='0 0 60 60'><style>.a{fill:white;}</style><path class='a' d='M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88   c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242   C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879   s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z'/></svg>");
  --gbe-search-box-submit-button-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='52px' height='52px' viewBox='0 0 60 60'><style>.a{fill:white;}</style><path class='a' d='M21.812,19.555H20.623l-.421-.406A9.8,9.8,0,1,0,19.148,20.2l.406.421v1.189l7.525,7.51,2.242-2.242Zm-9.03,0a6.772,6.772,0,1,1,6.772-6.772A6.763,6.763,0,0,1,12.782,19.555Z' transform='translate(-3 -3)'/></svg>");
  /* Uncomment the line below to show button text ('clear' and 'search') instead of button icons */
  /***** GBE-SAYT *****/
  /* Sayt Autocomplete */
  --gbe-autocomplete-terms-width: 200px;
  --gbe-autocomplete-terms-flex-width: 1;
  --gbe-autocomplete-terms-hover-background: #F3F3F3;
  /* Sayt Products */
  --products-sayt-flex-width: $number-of-tiles-to-show;
  --gbe-sayt-height: 100%;
  --gbe-products-sayt-border-radius: var(--gbe-products-sayt-border-radius);
  --gbe-products-sayt-container-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
  /* Sayt Product */
  --product-flex-width: 1;
  --product-sayt-min-width: 150px;
  --gbe-product-sayt-height: 400px;
  --gbe-product-img-border-bottom: var(--border-secondary);
  --gbe-product-description-default-link-color: var(--font-color-primary);
  --gbe-product-description-hover-link-color: #5244EF;
  --gbe-product-description-active-link-color: #4C76BF;
  --gbe-product-description-focus-link-color: #659FF7;
  --gbe-product-description-visited-link-color: #660099;
  --gbe-product-description-active-hover-text-decoration: underline;
  --gbe-product-description-font-size: var(--font-size-primary);
  --gbe-product-price-font-size: var(--font-size-secondary);
  --gbe-product-image-max-width: 110px;
  --gbe-product-image-height: 130px;
  --gbe-product-description-line-clamp: 4;
  /***** Font Family Variables *****/
  --font-family-text: 'Lato', sans-serif;
  /***** Border Variables *****/
  --border-primary: 1px solid var(--background-color-buttons-unhovered);
  --border-secondary: 1px solid rgba(195,195,195,0.3);
  /***** Background Color Variables *****/
  --background-color-buttons-unhovered: #DFDEDE;
  --background-color-buttons-hovered: #D3D3D3;
  --background-color-white: #FFF;
  --background-color-body: #EEE;
  /***** Font Color Variables *****/
  --font-color-primary: #7B8088;
  --font-color-secondary: #BA3B46;
  --font-color-tertiary: #FFF;
  /***** Font Size Variables *****/
  --font-size-primary: 0.9rem;
  --font-size-secondary: 1.5rem;
  /***** Speed Variable *****/
  --transition-speed: 0.1s;
  /***** Cursor Variable *****/
  --cursor-type-pointer: pointer; }

body {
  background: var(--background-color-body);
  padding: 30px; }

@media (max-width: 321px) {
  .gbe-sayt-container gbe-products-sayt {
    display: none; } }

@media (max-width: 380px) {
  :root {
    --gbe-autocomplete-terms-width: 120px; } }

@media (max-width: 529px) {
  .gbe-sayt-container gbe-products-sayt {
    border: none;
    box-shadow: none;
    margin: 0;
    overflow-y: scroll; }
  .gbe-sayt-container gbe-product {
    border-bottom: var(--border-secondary);
    border-left: var(--border-secondary);
    border-top: var(--border-secondary); }
  .gbe-sayt-container gbe-products-sayt .gbe-product-tile-wrapper:nth-child(n) {
    margin: 20px 20px 0px 20px; } }

@media (max-width: 769px) {
  :root {
    --gbe-search-box-input-and-sayt-width: none;
    --products-sayt-height: 500px; }
  body {
    padding: 0px;
    margin: 0px; }
  .gbe-sayt-container gbe-products-sayt .gbe-product-tile-wrapper:nth-child(n + 4) {
    display: none; }
  gbe-autocomplete li {
    margin-right: 0px; }
  gbe-autocomplete li:hover {
    margin-right: 0px; } }

gbe-autocomplete {
  background: var(--background-color-white);
  border-right: var(--border-primary);
  color: var(--font-color-primary);
  font-family: var(--font-family-text);
  min-width: var(--gbe-autocomplete-terms-width);
  max-width: var(--gbe-autocomplete-terms-width); }
  gbe-autocomplete [aria-selected="true"] {
    background-color: var(--gbe-autocomplete-terms-hover-background); }
  gbe-autocomplete h3, gbe-autocomplete h4 {
    font-size: var(--font-size-primary);
    padding: 17px 30px 0px 10px; }
  gbe-autocomplete ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    gbe-autocomplete ul li {
      font-size: var(--font-size-primary);
      margin-right: 0px;
      overflow: hidden;
      padding: 17px 30px 17px 10px;
      text-overflow: ellipsis;
      white-space: nowrap; }
      gbe-autocomplete ul li:hover {
        cursor: var(--cursor-type-pointer); }

[showclosebutton=""] gbe-autocomplete {
  padding-top: 24px; }

/* PRODUCT GRID BASIC STYLES */
gbe-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-top: 40px;
  width: 85%; }
  gbe-products gbe-product {
    background: var(--background-color-white);
    border: var(--border-secondary);
    height: var(--products-sayt-height);
    margin: 20px 10px;
    padding: 20px;
    width: 200px; }
    gbe-products gbe-product img {
      border-bottom: var(--gbe-product-img-border-bottom);
      display: block;
      height: var(--gbe-product-image-height);
      margin: 0 auto;
      padding: 20px 0;
      width: 100%;
      max-width: var(--gbe-product-image-max-width); }
    gbe-products gbe-product a {
      text-decoration: none; }
    gbe-products gbe-product h3 {
      box-sizing: border-box;
      color: var(--font-color-primary);
      display: -webkit-box;
      font-family: var(--font-family-text);
      font-size: var(--font-size-primary);
      font-weight: 600;
      line-height: 1.5;
      margin: 15px 15px 7px 15px;
      overflow: hidden;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }
    gbe-products gbe-product .gbe-price {
      color: var(--font-color-tertiary);
      font-family: var(--font-family-text);
      font-size: var(--gbe-product-price-font-size);
      padding: 0px 0px 10px 15px;
      margin: 0px; }

gbe-products-sayt {
  box-shadow: var(--gbe-products-sayt-container-box-shadow);
  width: 100%;
  height: var(--gbe-product-sayt-height);
  line-height: 1.5;
  margin: 20px;
  overflow: hidden;
  -ms-overflow-style: none; }
  gbe-products-sayt::-webkit-scrollbar {
    display: none; }
  gbe-products-sayt .gbe-product-tile-wrapper {
    background-color: var(--background-color-white);
    flex: var(--product-flex-width);
    min-width: var(--product-sayt-min-width); }
    gbe-products-sayt .gbe-product-tile-wrapper gbe-product {
      border-right: var(--border-secondary);
      height: var(--gbe-product-sayt-height);
      position: relative; }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product .gbe-product-variants {
        display: none; }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product a {
        text-decoration: none; }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product a:visited h3 {
        color: var(--gbe-product-description-visited-link-color); }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product img {
        border-bottom: var(--gbe-product-img-border-bottom);
        display: block;
        height: var(--gbe-product-image-height);
        margin: 0 auto;
        max-width: var(--gbe-product-image-max-width);
        padding: 20px 0; }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product h3, gbe-products-sayt .gbe-product-tile-wrapper gbe-product p, gbe-products-sayt .gbe-product-tile-wrapper gbe-product span {
        padding-left: 15px;
        font-family: var(--font-family-text); }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product span {
        display: -webkit-box;
        line-height: 1.5;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: var(--gbe-product-description-default-link-color);
        font-size: var(--font-size-primary); }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product h3 {
        box-sizing: border-box;
        color: var(--gbe-product-description-default-link-color);
        display: -webkit-box;
        font-size: var(--font-size-primary);
        line-height: 1.5;
        margin: 15px 15px 7px 0px;
        overflow: hidden;
        -webkit-line-clamp: var(--gbe-product-description-line-clamp);
        -webkit-box-orient: vertical; }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product:hover {
        cursor: var(--cursor-type-pointer); }
        gbe-products-sayt .gbe-product-tile-wrapper gbe-product:hover h3 {
          color: var(--gbe-product-description-hover-link-color);
          text-decoration: var(--gbe-product-description-active-hover-text-decoration); }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product:active h3 {
        color: var(--gbe-product-description-active-link-color);
        text-decoration: var(--gbe-product-description-active-hover-text-decoration); }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product:focus h3 {
        color: var(--gbe-product-description-focus-link-color); }
      gbe-products-sayt .gbe-product-tile-wrapper gbe-product .gbe-price {
        color: var(--font-color-secondary);
        font-size: var(--gbe-product-price-font-size);
        margin: 0;
        margin: 0 0 10px 0px; }
  gbe-products-sayt .gbe-product-tile-wrapper:nth-child(2) {
    border-bottom-left-radius: var(--gbe-products-sayt-border-radius);
    border-top-left-radius: var(--gbe-products-sayt-border-radius); }
  gbe-products-sayt .gbe-product-tile-wrapper:nth-child(3) {
    border-left: none;
    border-right: none; }
  gbe-products-sayt .gbe-product-tile-wrapper:nth-child(4) {
    border-bottom-right-radius: var(--gbe-products-sayt-border-radius);
    border-top-right-radius: var(--gbe-products-sayt-border-radius); }
  gbe-products-sayt .gbe-product-tile-wrapper:nth-child(n + 5) {
    display: none; }

/* SAYT STYLES */
gbe-sayt {
  background: var(--background-color-white);
  border-bottom: var(--border-primary);
  border-bottom-left-radius: var(--gbe-products-sayt-border-radius);
  border-bottom-right-radius: var(--gbe-products-sayt-border-radius);
  border-left: var(--border-primary);
  border-right: var(--border-primary);
  border-top: var(--border-primary);
  font-family: var(--font-family-text);
  height: var(--gbe-sayt-height);
  margin-top: -1px;
  max-width: var(--gbe-search-box-input-and-sayt-max-width);
  overflow: hidden;
  padding: 0;
  width: var(--gbe-search-box-input-and-sayt-width, 400px); }

.gbe-sayt-container {
  padding: 0; }

button.gbe-close {
  position: absolute; }

@media (max-width: 321px) {
  .gbe-sayt-container gbe-products-sayt {
    display: none; } }

gbe-search-box {
  font-family: var(--font-family-text);
  height: var(--gbe-sayt-height-and-button-height);
  max-width: var(--gbe-search-box-max-width);
  width: var(--gbe-search-box-width);
  margin-top: 30px; }
  gbe-search-box button {
    background-color: var(--background-color-buttons-unhovered);
    border: none;
    color: var(--font-color-tertiary);
    font-size: var(--show-button-text, 0);
    min-height: var(--gbe-sayt-height-and-button-height);
    min-width: var(--gbe-sayt-height-and-button-height);
    text-align: center; }
    gbe-search-box button:hover {
      background-color: var(--background-color-buttons-hovered);
      cursor: var(--cursor-type-pointer);
      transition: all var(--transition-speed); }
  gbe-search-box button.gbe-submit {
    background-image: var(--show-button-text, var(--gbe-search-box-submit-button-icon));
    background-position-x: 18px;
    background-position-y: 20px;
    background-repeat: no-repeat;
    border-left: 1px solid rgba(255, 255, 255, 0.3); }
  gbe-search-box button.gbe-clear {
    background-image: var(--show-button-text, var(--gbe-search-box-clear-button-icon));
    background-position-x: 20.75px;
    background-position-y: 17.5px;
    background-repeat: no-repeat; }
  gbe-search-box input {
    border: none;
    border-bottom: var(--border-primary);
    border-left: var(--border-primary);
    border-top: var(--border-primary);
    caret-color: var(--font-color-primary);
    color: var(--font-color-primary);
    font-size: var(--font-size-primary);
    padding: 0 12px;
    width: var(--gbe-search-box-input-and-sayt-width, 400px); }
    gbe-search-box input:focus {
      box-shadow: 0px 0px 3px 0px var(--background-color-buttons-unhovered);
      outline: none;
      outline-color: var(--border-primary); }
    gbe-search-box input::placeholder {
      color: var(--background-color-buttons-hovered);
      font-size: var(--font-size-primary);
      text-transform: capitalize; }
