sfx-product {
  align-items: center;
  box-shadow: 0 0 15px -5px rgba(0,0,0,0.5);
  color: var(--sfx-color-font);
  display: inline-flex;
  flex-direction: column;
  font-family: var(--sfx-font-default);
  height: 100%;
  padding: var(--sfx-spacing-product);
  position: relative;

  &:hover {
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.5);
    transition: box-shadow 0.2s ease-in-out;
  }

  img {
    width: 100%;
  }

  h3 {
    height: 3.5em;
    margin-top: 0;
    text-align: center;
  }

  ul.product-variants {
    height: 1.5em;
    margin: var(--sfx-spacing-default) 0;
  }

  a {
    color: var(--sfx-color-font);
    text-decoration: none;
  }

  slot[name="price"] p {
    margin: 0;
    &::before {
      content: "$";
    }
  }

  .sfx-product-label {
    background-color: var(--sfx-color-secondary);
    left: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 0.25em;
    position: absolute;
  }

  &[hidden] {
    display: hidden;
  }
}
